
{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <div id="bdgy" class="container" style="height: auto;">
        <h1>NEWS SOURCES</h1>
        <hr>
       <div class="d-flex flex-row">
        {% for update in  UPDATES %}
            <div >
                <h3>{{update.id}} </h3>
                <hr>
                <a class="btn btn-primary" href="/article/{{update.id}}">{{update.name}}</a>  
            </div> 
        {% endfor %}
       </div>
    </div>
   
    </div>
{% endblock %}
